/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-family: 'Inter', sans-serif;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.container {
  width: clamp(371px, 100%, 696px);
  margin: 0 auto;
}

.header {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  text-align: center;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0.875rem 1.563rem;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.2329rem + 2.7692vw, 1.4375rem);
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 1;
  text-align: left;
}

.theme-menu__button {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  width: 14px;
  height: 14px;
  position: absolute;
  left: -20px;
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
  margin-block-end: 50px;
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--title-card-wght, 700), 'slnt' 0;
  color: var(--accent-color);
  font-size: 18px;
  padding: 6px 10px;
}

.card__image-container {
  position: relative;
}

/* .card__image-label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 13px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.5;
  mix-blend-mode: hard-light;
} */

.card__image {
  width: 100%;
  display: block;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 117%;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 12px;
  padding: 0 25px 25px;
}

.card__icon-button {
  padding: 0;
}

.button__text {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 9px 37px;
}

.button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  width: clamp(306px, 80%, 335px);
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 15px 18px;
}

.button-save svg {
  width: 21px;
  height: 21px;
  padding-bottom: 3px;
}

@media (width <= 375px) {
  .button-save {
    flex-direction: column;
  }

  .button-save svg {
    width: 28px;
    height: 28px;
  }
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, sans-serif);
    font-variation-settings: 'wght' var(--main-wght, 400), 'slnt' 0;
  }
}
